tqdm==4.65.0
Pillow
opencv-python
imageio
matplotlib
kornia
natsort
pyyaml
wandb
lpips
open3d==0.17.0
torchmetrics
cyclonedds
pytorch-msssim
plyfile==0.8.1
git+https://github.com/alicaank/diff-gaussian-rasterization-w-depth.git@16a36ea36e3746e530ec7fab5789e2b2a6b05587