tqdm==4.65.0
Pillow
opencv-python
imageio
matplotlib
kornia
natsort
pyyaml
wandb
lpips
open3d==0.16.0
torchmetrics
cyclonedds
pytorch-msssim
plyfile==0.8.1
git+https://github.com/alicaank/diff-gaussian-rasterization-w-depth.git@3771e8e217591685f4a1c98a5edf1d58a1249d34